@import url('https://fonts.googleapis.com/css?family=Assistant:300,400,800');

body {
    margin: 0;
    background-color: #2B2E34;

    font-family: 'Assistant', sans-serif;
}

span {
    font-family: 'Assistant', sans-serif;
}



#component-navigation {
    width: 100%;
    height: 50px;

    position: fixed;
    z-index: 2;

    background-color: #2B2E34;

    -webkit-transition: height ease, opacity;
    transition: height ease, opacity;

    -webkit-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

#component-navigation.collapsed {
    height: 0;
    opacity: 0;
}

#component-navigation .navigation-detail {
    padding: 3px;
}

#component-navigation .navigation-detail-left {
    /*
    position: absolute;
    float: left;
    */

    margin-left: 10px;
}

#component-navigation .navigation-detail a {
    text-decoration: none;
}

#component-navigation .navigation-detail-label {
    margin-right: 3px;
}

#component-navigation .navigation-name-label {
    font-size: 22px;
    font-weight: 800;
    color: #545D6F;
}

#component-navigation .navigation-site-label {
    font-size: 22px;
    color: #545D6F;
}

/*---------------------------------------------------------*/

#container .component-entry {

    height: 100vh;
    width: 100%;

    margin-top: -5vw;
}

#container .component-entry:first-child {
    margin-top: 0px;
}

#container .component-entry .entry-detail-header {
    position: absolute;
    bottom: 100%;

    margin-bottom: 15px;
}

#container .component-entry .entry-detail-header span {
    font-size: 24px;
    font-weight: 500;
    color: #6D7586;
}

#container .component-entry .entry-header-item {
    margin-right: 15px;
}

#container .component-entry .entry-header-heart {
    padding: 2px;

    color: #545D6F;

    -webkit-transition: color, -webkit-transform ease-in-out;
    transition: color, -webkit-transform ease-in-out;
    transition: color, transform ease-in-out;
    transition: color, transform ease-in-out, -webkit-transform ease-in-out;    
    -webkit-transition-duration: 0.1s;    
    transition-duration: 0.1s;
}

#container .component-entry .entry-header-heart:hover {
    /*    fill: #ff735d;*/
    color: #ff735d;
    cursor: pointer;

    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

#container .component-entry .entry-detail-image img {
    height: auto;
    width: auto;

    max-width: 90vw;    
    max-height: 70vh;
}

#container .component-entry .entry-detail-extras {
    position: absolute;
    top: 100%;

    margin-top: 15px;
}

#container .component-entry .entry-meta-extra {
    margin-right: 10px;
}

#container .component-entry .entry-extra-label {
    font-size: 14px;
    font-weight: 400;

}

#container .component-entry .entry-meta-likes-label {
    color: #FF735D;
}

#container .component-entry .entry-meta-date-label {
    color: #434955;
}

#container .component-entry .entry-meta-views-label {
    color: #6d7586;
}